*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    background-color: black;
    text-align: center;
}
a{
    text-decoration: none;
    color: azure;
    border-radius: 20px;
    margin-bottom: 10px;
}

#first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 50px;
    margin: auto;
    gap: 30px;
    margin-bottom: 10px;
}

.user{
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px yellow;
    padding: 10px;
    transition: transform ease-in .3s ;
}
.user:hover{
   transform: scale(1.05);
}
img{
    width: 100%;
    height: 200px;
    padding: 5px;
    border: 0px;
    box-shadow: 1px 1px 10px;
    border-radius: 5px;
    object-fit: cover;

}
h1{
    font-size: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: beige;
}
h2{
    font-size: 20px;
    color: beige;
    margin-bottom: 10px;
    margin-top:10px ;

 
}